<% extend 'shared/admin-base' %>

<% block 'head': %>
<link rel="stylesheet" href="/dist/admin-slideshow.css">
<% end %>


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            轮播图管理
            <small></small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>


 <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination" style="visibility: visible;">

                    <div class="">

                        <div class="input-group">
                            <a href="#addmodal" data-toggle="modal"  class="btn  green"><i
                                    class="fa fa-plus"></i> 添加</a>

                        </div>

                    </div>

                </ul>
            </div>



<table class="table table-striped table-bordered table-hover" id="sample_1">
    <thead>
    <tr>
        <th class="col-md-4">图片</th>
        <th >链接</th>
        <th style="width: 150px">操作</th>
    </tr>
    </thead>
    <tbody>
    <% for e in @list : %>
    <tr class="odd gradeX" tr-id="<%= e.id  %>">
        <td><img class="img" src="<%= e.address %>"></td>
        <td ><span class="link"><%= e.link %></span> </td>

        <td>

            <div class="btns" >
                <button data-id="<%= e.id  %>" class="btn red btn-sm delbtn ">删除</button>
            </div>

        </td>
    </tr>
    <% end %>
  

    </tbody>

</table>



<div id="addmodal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">添加</h4>
            </div>
            <div class="modal-body" style="">

                <div class="row">
                    <div class="col-md-12">
                        <h4>链接</h4>
                        <p><input id="add1" type="text" class="col-md-12 form-control"></p>
                        <input id="add2" type="hidden" >
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>图片</h4>
                        <div> <div id="uploader-demo">
                            <!--用来存放item-->
                            <div id="fileList" class="uploader-list"></div>
                            <div id="filePicker">选择图片</div>
                        </div></div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn default">关闭</button>
                <button type="button" id="add1btn" class="btn green">保存</button>
            </div>
        </div>
    </div>
</div>



</body>

<% block 'scripts': %>
<script src="/dist/admin-slideshow.js"></script>
<% end %>