<% extend 'shared/admin-base' %>

<% block 'head': %>
<link rel="stylesheet" href="/dist/admin-comment.css">
<% end %>


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            分销商审核
            <small></small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<form class="form-horizontal" role="form" action="">
    <div class="form-body">
        <div  style="float: right">
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination" style="visibility: visible;">

                    <label  class="col-md-9 control-label">搜索:</label>
                    <div class="">
                        <div class="input-group">
                            <input name="key" type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn blue" type="submit"><i class="fa fa-search"></i></button>
					</span>
                        </div>

                    </div>

                </ul>
            </div>
        </div>


    </div>
</form>


<table class="table table-striped table-bordered table-hover" id="sample_1">
    <thead>
    <tr>
        <th class="table-checkbox"><input type="checkbox" class="checkboxes group-checkable"/></th>
        <th >用户名</th>
        <th >真实姓名</th>
        <th >店铺名</th>
        <th >电话</th>
        <th >上家店铺id</th>
        <th >上家店铺名</th>
        <th >上家店铺真实姓名</th>
        <th >上家店铺用户id</th>
        <th >上家店铺用户名</th>
        <th >申请时间</th>
        <th style="width: 150px;">操作</th>
    </tr>
    </thead>
    <tbody>
    <% for e in @list : %>
    <tr class="odd gradeX" data-id="<%= e.id %>">
        <td><input type="checkbox" data-id="<%= e.id %>" name="many" class=" many checkboxes" /></td>
        <td ><%= e.username %></td>
        <td class="numeric"><%= e.username %></td>
        <td class="numeric"><%= e.name %></td>
        <td class="numeric"><%= e.phone %></td>
        <td style=""><%= e.TopStore?.id %></td>
        <td style=""><%= e.TopStore?.name %></td>
        <td style=""><%= e.TopStore?.username %></td>
        <td style=""><%= e.TopStore?.User.id %></td>
        <td style=""><%= e.TopStore?.User.name %></td>
        <td style=""><%= e.createdAt.toLocaleString() %></td>
        <td>
            <button data-id="<%= e.id %>" class="btn green btn-sm pass ">通过</button>
            <button data-id="<%= e.id %>" class="btn red btn-sm refuse ">拒绝</button>
        </td>
    </tr>

    <% end %>

    </tbody>
    <tfoot>
    <tr>
        <td colspan="7">
            <button type="button" id="btn1" class="btn default">全选</button>
            <button type="button" id="btn2" class="btn default">通过</button>
            <button type="button" id="btn3" class="btn default">拒绝</button>
        </td>
    </tr>

    </tfoot>
</table>

<div  style="text-align: center">
    <div class="dataTables_paginate paging_bootstrap">
        <ul class="pagination" style="visibility: visible;">
            <% if @prePage >= 1 : %>
            <li class="prev "><a href="./check?page=<%=  @prePage %>" title="Prev"><i class="fa fa-angle-left"></i></a></li>
            <% end %>

            <input  value="<%=  @page %>" class="inputcenter form-control" id="focus" style="float: left;width: 60px" type="number" min="1" max="<%=  @count %>"/>
            <input class="inputcenter form-control" value="/<%=  @count %>" disabled="disabled"
                   style="width: 40px;float: left;"/>
            <input  value="<%=  @page %>" id="page" disabled="disabled" style="display: none"/>

            <% if @nextPage <= @count : %>
            <li class="next"><a href="./check?page=<%=  @nextPage %>" title="Next"><i class="fa fa-angle-right"></i></a></li>
            <% end %>
        </ul>
    </div>
</div>




</body>

<% block 'scripts': %>
<script src="/dist/admin-storecheck.js"></script>
<% end %>