<% extend './shared/admin-base' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/admin-user-list.css">
<style>
    td img{
         width: 56px;
        height: 56px;
    }
</style>
<% end %>
<div class="row" ng-controller="AppCtrl">
    <div class="col-md-12">
        <div class="portlet ">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-users"></i>用户管理</div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <div ng-view></div>
                <div class="alert alert-sm alert-info alert-dismissible ">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    可搜索用户名、id。点击表格头中的列项，可对该项进行升序降序切换排序。
                </div>

                <div style="margin: 8px 0;">

                </div>

                <div simple-datatable ng-model="data" sdt-action-col="actionColFactory" sdt-on="sdtOn" sdt-selected="sdtSelected">
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="col-md-4">
                            <div class="btn-groups">
                                <div class="btn btn-primary" ng-click="startIntegralReward()" ng-disabled="sdtSelected.length === 0">批量赠送积分</div>
                                <div class="btn  btn-default" ng-click="clearSelect()">清空勾选</div>
                            </div>
                        </div>
                        <div class=" col-md-4  col-md-offset-4">
                            <div class="input-group">
                                <input type="text" class="form-control"  sdt-search-input>
                                <span class="input-group-addon" sdt-search-btn><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-hover table-bordered center-table table-sm-img">
                                <thead>
                                <tr>
                                    <th  data-sdt-col="__" data-sdt-col-type="selectbox" class=""></th>
                                    <th  data-sdt-col="id">id</th>
                                    <th  data-sdt-col="headimgurl" data-sdt-col-type="img">头像</th>
                                    <th  data-sdt-col="nickname">用户昵称</th>
                                    <th  data-sdt-col="joinTime">加入时间</th>
                                    <th  data-sdt-col="totalIntegral">累计积分</th>
                                    <th  data-sdt-col="integral">当前积分</th>
                                    <th  data-sdt-col="rank">等级</th>
                                    <th style="width: 160px;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <span class="pull-left">共<span sdt-total-label></span>条 <span sdt-total-page></span>页 第<span sdt-page></span>页</span>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" sdt-prev-btn>上一页</button>
                                    <button type="button" class="btn btn-default" sdt-next-btn>下一页</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-wide">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">赠送积分</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <input class="form-control " type="number" min="0" ng-model="integralReward" >
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn blue" ng-click="submitIntegralReward()">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script type="text/x-handlebars-template" id="row-btn">
    <td>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-primary" sdt-row-click="edit, integralReward" >赠送积分</button>
        </div>
    </td>
</script>

<% block 'scripts': %>
<script src="/dist/admin-user-list.js"></script>
<% end %>
