<!DOCTYPE html>
<html lang="zh">
<head>
    <% include 'shared/head' %>
    <link rel="stylesheet" href="/dist/admin-commons.js.css">
    <% ctx = require('../../../instances/context.js').get() %>
    <% currentUser =  ctx.current.user %>
    <% content 'head' %>
</head>
<body style="opacity: 0; transition: opacity 0.3s ease; background-color:#fff !important;">
<div class="page-content" style="margin: 0; padding: 20px !important;">
    <% content%>
</div>

<script src="/dist/admin-commons.js"></script>
<% content 'scripts' %>
</body>
</html>