<% ctx = require('../../../instances/context.js').get() %>
<% user =  ctx.current.user %>

<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <% if user.type >= 99 || user.type == 2 : %>
        <li>
            <a href="/adminer-super/adminer-manage">
                <i class="fa fa-users"></i>
                <span class="title">后台人员管理</span>
            </a>
        </li>
        <% end %>
        <% if user.type >= 99 || user.type == 1 : %>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-shopping-cart"></i>
                <span class="title">商品管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a href="/adminer-shopkeeper/goods">列表</a>
                </li>
                <li>
                    <a href="/adminer-shopkeeper/goods/save">添加</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/adminer-shopkeeper/goodstype">
                <i class="fa fa-tags"></i>
                <span class="title">类别管理</span>
            </a>
        </li>
        <% end %>
        <% if user.type >= 99 || user.type == 3 : %>
        <li>
            <a href="/adminer-order/order-list/t/0">
                <i class="fa fa-rmb"></i>
                <span class="title">普通订单管理</span>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="/adminer/evaluations">-->
                <!--<i class="fa fa-comments"></i>-->
                <!--<span class="title">评价列表</span>-->
            <!--</a>-->
        <!--</li>-->
        <% end %>
        <% if user.type >= 99 || user.type == 4 : %>
        <li>
            <a href="/adminer-order/order-list/t/1">
                <i class="fa fa-rmb"></i>
                <span class="title">分销订单管理</span>
            </a>
        </li>
        <% end %>
        <% if user.type >= 99 :%>
        <li>
            <a href="/adminer-order/order-list">
                <i class="fa fa-rmb"></i>
                <span class="title">所有订单管理</span>
            </a>
        </li>
        <% end %>





    </ul>
    <!-- END SIDEBAR MENU -->
</div>