<% ctx = require('../../../instances/context.js').get() %>
<% user =  ctx.current.user %>

<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <% if @currentUser.type >= 99 || @currentUser.type == 2 : %>
        <li class="">
            <a target="iframe" href="javascript:;">
                <i class="fa fa-users"></i>
                <span class="title">会员管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a target="iframe" href="/adminer-adminer/user-list">会员列表</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-vip/ranks">等级管理</a>
                </li>
            </ul>
        </li>
        <% end %>
        <% if @currentUser.type >= 99 || @currentUser.type == 1 : %>
        <li class="">
            <a target="iframe" href="javascript:;">
                <i class="fa fa-shopping-cart"></i>
                <span class="title">商品管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a target="iframe" href="/adminer-shopkeeper/goods">列表</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-shopkeeper/goods/save">添加</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-shopkeeper/goodstype">类别管理</a>
                </li>
            </ul>
        </li>
        <% end %>
        <% if @currentUser.type >= 99 || @currentUser.type == 3 : %>
        <li class="">
            <a target="iframe" href="javascript:;">
                <i class="fa fa-rmb"></i>
                <span class="title">订单管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a target="iframe" href="/adminer-order/order-list/t/0">订单列表</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-order/order-list/ts/0/-1">退款管理</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-order/order-list">综合查询</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer/comment">评论管理</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-time/index">订单设置</a>
                </li>
            </ul>
        </li>
        <% end %>
        <% if @currentUser.type >= 99 || @currentUser.type == 4 : %>
        <li class="">
            <a target="iframe" href="javascript:;">
                <i class="fa fa-rmb"></i>
                <span class="title">分销管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a target="iframe" href="/adminer-order/order-list/t/1">分销订单</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-order/order-list/ts/1/-1">退款管理</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-store/list">分销会员管理</a>
                </li>

            </ul>
        </li>
        <% end %>
        <% if @currentUser.type >= 99 :%>
        <li>
            <a target="iframe" href="/adminer-order/order-list">
                <i class="fa fa-rmb"></i>
                <span class="title">所有订单管理</span>
            </a>
        </li>
        <% end %>
        <% if @currentUser.type > 99: %>
        <li class="">
            <a target="iframe" href="javascript:;">
                <i class="fa fa-bars"></i>
                <span class="title">系统设置</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a target="iframe" href="/adminer-super/adminer-manage">员工管理</a>
                </li>
                <li>
                    <a target="iframe" href="/adminer-slideshow/index">轮播图管理</a>
                </li>
            </ul>
        </li>
        <% end %>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>