@import "base";
$info_height : 130px;
$info_bgcolor : #FE4542;
$font:13px;
$font-color:white;
.ad{
  background-color: $main-color;
  padding-top: 0 !important;
}
.icon-my{
  width: 100%;
  text-align: center;
  color:#3d3d3d;
}
.icon-fa{
  text-align: center !important;

}

.notop{
  border-top:0 !important;
}
.nobottom{
  border-bottom:0 !important;
}
.da{
  height: 10px;
  background-color: #EEEEEE;
}
.nop{
  padding: 0 !important;
}
.fa{
  padding-left: 20px;
  padding-right: 20px;
}
.username{
  color: white;
  margin-left: 20px;
}
body{
  box-sizing: border-box;
}

.info{
  //height:$info_height;
  background-color: $info_bgcolor;
  font-size:$font+5px;
  color:black;
  position:relative;
}

.user-panel {
  background-color: $main-color;
}

.user{
  position: absolute;

}

.name{
  top:10px;
  left:10px;
}

.address{
  bottom: 10px;
  right:10px;
}

.title{
  line-height:55px;
  background-color: grey;
}

.order{
  font-size:$font+6px;
  margin-top:50px;
}

a .text{
  margin-top:6px;
  text-align: center;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: none;
  color:black;
}

a:visited{
  text-decoration: none;
  color:black;
}


.margin-top-40{
  margin-top:40px;
}

.option{
  display: block;
  text-align: left;
  font-size:$font+2px;
  background-color: white;
  line-height:50px;
  padding-right:20px;
  padding-left:20px;
  cursor: pointer;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}


.option-sm{
  display: block;
  text-align: left;
  font-size:$font+2px;
  background-color: white;
  line-height:50px;
  padding-right:20px;
  padding-left:20px;
  cursor: pointer;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.option-sm-f{
  height: 50px;
  display: block;
  text-align: left;
  font-size:$font+2px;
  background-color: white;
  cursor: pointer;
  margin:  10px 0 10px 0;


}
.rightborder{
  border-right:1px solid #ddd;
}
.icon{
  float:right;
}