<% extend 'phone/base.html' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/phone-goods-page.css">
<!--<script src="/dist/phone-goods-page.css"></script>-->
<% end %>

<div ng-controller="MainCtrl" ng-init="id = <%= @goods.id %> ">
    <div class="swiper-container">
        <div class="swiper-wrapper" >
            <% for img in @goods.imgs.concat([@goods.mainImg]) : %>
            <div class="swiper-slide">
                <img src="<%- img %>" />
            </div>
            <% end %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="goods">
        <div class="am-g goods-header">
            <div class="goods-title am-margin-left-sm ">
                <h2><%= @goods.title %></h2>
            </div>
            <div class="am-text-center goods-price">
                <% if @isSaler : %>
                    <span class="am-btn am-btn-default am-radius" ng-click="sale()"  ng-init="isSaled = <%= @isSaled %>">{{isSaled ? '取消分销' : '我要分销'}}</span>
                <% else : %>
                    <!--todo: 地址-->
                    <a href="/user/storeapply" class="am-btn am-btn-default am-radius">成为分销商</a>
                <% end %>

                <!--<span class="am-text-danger"><%= @goods.price  %><span class="am-text-sm">/<%= @goods.perStr %></span> ￥</span>-->
                <!--<del class="am-text-sm"><%= @goods.oldPrice  %></del>-->
            </div>
        </div>
        <div class="goods-info am-g am-text-center">
            <div class="am-u-sm-4">
                <span class="am-text-danger"> ￥<%= @goods.price  %><span class="am-text-sm"><%= @goods.perStr %></span></span>
                <del class="am-text-sm">￥<%= @goods.oldPrice  %></del>
            </div>
            <div class="am-u-sm-4">
                <% if @goods.buyLimit != 0:  %>
                    限购<%= @goods.buyLimit %>
                <%  end %>
            </div>
            <div class="am-u-sm-4">已售<%= @goods.soldNum %> / 剩余<%= @goods.capacity %></div>

        </div>
        <div class="am-padding-horizontal-sm">
            <% for type in @goods.types : %>
                <span class="am-badge am-radius am-badge-warning"><%= type.title %></span>
            <%  end %>
        </div>

        <div class="am-tabs am-margin-vertical" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">图文详情</a></li>
                <li><a href="#goods-params">产品参数</a></li>
                <li><a href="#tab3">评价列表</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <div>
                        <%- @goods.content %>
                    </div>
                </div>
                <div class="am-tab-panel am-fade am-padding-horizontal-0" id="goods-params">

                    <ul class="am-list am-list-static">
                        <% for field in @goods.extraFields : %>
                            <li class="am-g am-text-sm">
                                <span class="am-u-sm-4"><%= field.title %></span>
                                <span class="am-u-sm-8"><%= field.value %></span>
                            </li>
                        <% end %>
                    </ul>

                </div>
                <div class="am-tab-panel am-fade" id="tab3">
                    暂无
                </div>
            </div>
        </div>

    </div>

    <div class="am-g am-text-center" id="goods-bar">
        <div class="am-u-sm-4">
            <i class="am-u-sm-6 am-icon am-icon-star border-right" ng-class="{'am-text-warning': isCollected}" ng-init="isCollected = <%= @goods.isCollected %>" ng-click="toggleCollect()"></i>
            <a href="/user/shopping-cart-view" class="am-u-sm-6 am-icon am-icon-shopping-cart"></a>
        </div>
        <div class="am-u-sm-8">
            <span class="am-btn am-btn-warning am-u-sm-6" ng-disabled="isInShoppingCart" ng-init="isInShoppingCart = <%= @goods.num %> > 0" ng-click="toShoppingCart()">{{!isInShoppingCart ? '加入购物车': '已加入购物车'}}</span>
            <span class="am-btn am-btn-danger am-u-sm-6" ng-click="toBuy()">立即购买</span>
        </div>
    </div>

    <div class="am-modal-actions" id="goods-select-num">
        <div class="am-modal-actions-group">
            <div class="goods-item">
                <div class="goods-item-img">
                    <img src="<%= @goods.mainImg %>" >
                </div>
                <div class="goods-item-detail">
                    <strong><%= @goods.title %></strong>
                    <p>
                        <span class="am-text-warning">{{ '<%= @goods.price %>' | currency: '￥'}}</span>
                    </p>
                    <span class="am-text-sm">销量: <%= @goods.baseSoldNum + @goods.soldNum %></span>
                    <span class="am-text-sm">库存: <%= @goods.capacity %></span>
                    <% if @goods.buyLimit != 0:  %>
                        <span class="am-text-sm">限购: <%= @goods.buyLimit %></span>
                    <%  end %>

                </div>
            </div>
            <div class="am-g am-margin-vertical">
                <div class="am-u-sm-5">
                    <div class=" am-input-group am-input-group-sm">
                        <span class="am-input-group-label" ng-click="add(-1)"><i class="am-icon am-icon-minus"></i></span>
                        <input type="text" class="am-form-field" ng-model="num" pattern="[0-9]*" ng-init="buyLimit = <%= @goods.buyLimit %>">
                        <span class="am-input-group-label" ng-click="add(1)"><i class="am-icon am-icon-plus"></i></span>
                    </div>
                </div>
            </div>


            <i class="am-icon am-icon-close" data-am-modal-close></i>
        </div>
        <div class="am-modal-actions-group">
            <button class="am-btn am-btn-secondary am-btn-block" ng-click="submit()" ng-init="type = <%= @type %>">确定</button>
        </div>
    </div>
</div>



<% block 'scripts': %>
<script src="/dist/phone-goods-page.js"></script>
<% end %>