<% extend 'phone/base.html' %>


<% block 'head' : %>
<link rel="stylesheet" href="/dist/phone-usercenter.css">
<% end %>

<div class="user-panel">
    <div class="am-cf ad am-padding">
        <div class="am-fl">
            <img src="<%= @user?.headimgurl %>" style="width: 48px; height: 48px;">
        </div>

        <div class="am-fl username">
            <span>用户名: <%= @user?.nickname %></span>
            <br>
            <span><%= @rank?.name %></span>

        </div>
        <div class="am-fr username">
            <span class="icon" style="font-size: 23px;"><i class="am-icon-angle-right"></i></span>

        </div>

    </div>
</div>


<div class="am-g">
    <div class="da">

    </div>
</div>
<div class="am-g">
    <div class="fa">
        <a href="/user/order-list/#3">
            <div class="am-u-sm-12 option-sm notop">
                <i class="am-icon-file-text-o" style="color:lightsteelblue"></i> &nbsp我的订单<span class="icon"
                                                                                                style="color: darkgray">查看全部订单 <i
                    class="am-icon-angle-right"></i></span></div>
        </a>
        <div class="am-u-sm-12 nobottom" style="border-bottom: 1px solid #ddd;">
            <a class="am-fl am-u-sm-4 nop" href="/user/order-list#/0">

                <div class="am-u-sm-12 rightborder option-sm-f icon-fa">
                    <i class="icon-my am-icon-cny am-icon-lg"></i>
                    待付款
                </div>
            </a>
            <a class="am-fl am-u-sm-4 nop" href="/user/order-list#/1">
                <div class="am-u-sm-12 rightborder option-sm-f icon-fa">
                    <i class="icon-my am-icon-clock-o am-icon-lg"></i>
                    待发货
                </div>
            </a>
            <a class="am-fl am-u-sm-4 nop" href="/user/order-list#/2">
                <div class="am-u-sm-12  option-sm-f icon-fa">
                    <i class="icon-my am-icon-truck am-icon-lg"></i>
                    待收货
                </div>
            </a>


        </div>

    </div>

</div>

<div class="am-g">
    <div class="da">

    </div>
</div>

<div class="am-g">
    <div class="fa">


        <a href="/user/shoppingcart-view">
            <div class="am-u-sm-12 option">
                <i class="am-icon-shopping-cart" style="color:lightblue"></i>
                &nbsp我的购物车<span class="icon"><i class="am-icon-angle-right"></i></span></div>
        </a>
        <a href="/user/goods-collection">
            <div class="am-u-sm-12 option">
                <i class="am-icon-inbox" style="color:orange"></i>
                &nbsp我的商品收藏<span class="icon"><i class="am-icon-angle-right"></i></span></div>
        </a>
        <a href="/user-favorite/list">
            <div class="am-u-sm-12 option">
                <i class="am-icon-inbox" style="color:orange"></i>
                &nbsp我的店铺收藏<span class="icon"><i class="am-icon-angle-right"></i></span></div>
        </a>
        <a href="/user/addresses">
            <div class="am-u-sm-12 option notop">
                <i class="am-icon-dropbox" style="color:green"></i>
                &nbsp收货地址管理<span class="icon"><i class="am-icon-angle-right"></i></span></div>
        </a>
    </div>
</div>
<div class="am-g">
    <div class="da">

    </div>
</div>
<div class="am-g">
    <div class="fa">


    </div>
</div>

<% block 'scripts': %>
<script src="/dist/phone-usercenter.js"></script>
<% end %>