<% extend './shared/admin-base' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/admin-goods-save.css">
<style>
    .simditor {overflow: auto;}
</style>
<% end %>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>编辑商品信息</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="" id="form_sample_1" class="form-horizontal" method="post" ng-controller="FormCtl">
                    <input type="hidden" name="id" value="<%= @data?.id %>" >
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">商品标题<span class="required">*</span></label>

                            <div class="col-md-3">
                                <input type="text" name="title" data-required="1" class="form-control" value="<%= @data?.title %>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">价格<span class="required">*</span></label>

                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="price" min="0" value="<%= @data?.price %>" >
                                    <div class="input-group-btn">
                                        <a class="btn default"><i class="fa fa-rmb"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">市场价格<span class="required">*</span></label>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="oldPrice" min="0" value="<%= @data?.oldPrice %>" >
                                    <div class="input-group-btn">
                                        <a class="btn default"><i class="fa fa-rmb"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">稅率<span class="required">*</span></label>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="taxRate" min="0" value="<%= @data?.taxRate %>" >
                                    <div class="input-group-btn">
                                        <a class="btn default">%</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">分级佣金（一级）<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input type="number" class="form-control" name="commission1" min="0" value="<%= @data?.commission1 %>" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">分级佣金（二级）<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input type="number" class="form-control" name="commission2" min="0" value="<%= @data?.commission2 %>" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">分级佣金（三级）<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input type="number" class="form-control" name="commission3" min="0" value="<%= @data?.commission3 %>" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">购买赠送积分<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input type="number" class="form-control" name="integral" min="0" value="<%= @data?.integral %>" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">基础销量<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input name="baseSoldNum" type="number" class="form-control" min="0" value="<%= @data?.baseSoldNum %>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">库存<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input name="capacity" type="number" class="form-control" min="0" value="<%= @data?.capacity %>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">每人限购数<span class="required">*</span></label>
                            <div class="col-md-3">
                                <div style="margin: 8px;">
                                    <% if @data && @data.buyLimit > 0 : %>
                                        <input type="checkbox" ng-model="buyLimit" class="form-control" checked ng-init="buyLimit = true">
                                    <% else :%>
                                        <input type="checkbox" ng-model="buyLimit" class="form-control">
                                    <% end %>

                                </div>

                                <input name="buyLimit" type="number" class="form-control" min="0" value="<%= @data?.buyLimit %>" ng-if="buyLimit"/>
                            </div>
                        </div>
                        <div class="form-group"  >
                            <label class="control-label col-md-3">类别<span class="required">*</span></label>
                            <div class="col-md-3">
                                <select  ng-model="typeIds" name="typeIds" class="form-control" multiple required>
                                    <% for ltype in @types: %>
                                        <optgroup label="<%= ltype.title %>">
                                            <% for stype in ltype.GoodsTypes: %>
                                                <option value="<%= stype.id %>"> <%= stype.title  %></option>
                                            <% end %>
                                        </optgroup>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">图片<span class="required">*</span></label>
                            <div class="col-md-9" ng-controller="UploadCtl">
                                <input type="hidden" value="{{mainImgUrl}}" name="mainImg">
                                <input type="hidden" value="{{imgsUrl}}" name="imgs">
                                <div class="fileupload fileupload-new">
                                    <div class="fileupload-new thumbnail" style="width: 320px; height: 140px;" ng-show="imgs.length == 0">
                                        <img src="/empty.png" alt="" style="width: 320px; height: 130px;"/>
                                    </div>
                                    <div class="uploaded-imgs" ng-show="imgs.length != 0">
                                        <div class="clearfix">
                                            <div class="uploaded-imgs-item text-center pull-left {{mainImg == $index ? 'uploaded-imgs-item-main': ''}}" ng-repeat="img in imgs track by $index">
                                                <img ng-src="{{img}}" class="img-responsive">
                                                <div class="uploaded-imgs-item-tools  text-center">
                                                    <span class="btn blue " ng-click="setMain($index)" ng-show="mainImg != $index">设为缩略图</span>
                                                    <span class="btn green " ng-click="remove($index)">删除</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <span class="btn blue" id="upload-picker"><i class="fa fa-cloud-upload"></i>添加文件</span>
                                    </div>
                                </div>
                                <span class="label label-danger">注意!</span>
                                <span> 每张图片大小不可超过3M，缩略图建议尺寸128*128 </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">是否定时下架<span class="required">*</span></label>
                            <div class="col-md-3">
                                <div style="margin: 8px;">
                                    <% if @data?.timeToDown : %>
                                        <input type="checkbox" name="hasTimeToDown" ng-model="timeToDown" class="form-control" checked ng-init="timeToDown = true">
                                    <% else :%>
                                        <input type="checkbox" name="hasTimeToDown" ng-model="timeToDown" class="form-control">
                                    <% end %>
                                </div>
                                <input name="timeToDown" type="datetime" class="form-control" min="0" value="<%= @data?.timeToDown %>" ng-show="timeToDown"/>
                            </div>
                        </div>

                        <div ng-repeat="type in types">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-3">
                                    <p class="text-center"><strong>【{{type.type == 1 ? "一级类型" : "二级类型"}}】{{type.title}}的扩展属性</strong></p>
                                </div>
                            </div>
                            <div class="form-group" ng-repeat="field in type.fields">
                                <label class="control-label col-md-3">{{field.title}}</label>
                                <div class="col-md-3">
                                    <input ng-if="field.type == 0" name="{{field.id}}" type="text" class="form-control" value="{{extraFields[field.id]}}" />
                                    <input ng-if="field.type == 1" name="{{field.id}}" type="number" class="form-control" value="{{extraFields[field.id]}}" />
                                    <input ng-if="field.type == 2" name="{{field.id}}" type="date" class="form-control" value="{{extraFields[field.id] | date:'yyyy-MM-dd'}}" />
                                    <select ng-if="field.type == 3" name="{{field.id}}"  class="form-control" ng-model="extraFields[field.id]">
                                        <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                    </select>
                                    <select ng-if="field.type == 4" multiple name="{{field.id}}"  class="form-control" ng-model="extraFields[field.id]">
                                        <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label  col-md-3">商品详情</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="6" id="editor" name="content"><%= @data?.content %></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">提交</button>
                            <a href="/adminer/goods" class="btn blue">返回列表页</a>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
<script id="types" type="text/plain" data-id="<%- @data?.typeIds %>">
    <%- @typesStr %>
</script>

<script id="imgs" type="text/plain" data-main="<%- @data?.mainImg %>">
    <%- @data?.imgs %>
</script>
<script id="extraFields" type="text/plain">
    <%- @data?.extraFields %>
</script>
<% block 'scripts': %>

<script src="/dist/admin-goods-save.js"></script>
<% end %>

